body{
     background-color: rgb(255, 255, 255);
}

.switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
   }
   
   .switch input { 
     opacity: 0;
     width: 0;
     height: 0;
   }
   
   .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgb(63, 62, 62);
     -webkit-transition: .4s;
     transition: .4s;
   }
   
   .slider:before {
     position: absolute;
     content: "";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
   }
   
   input:checked + .slider {
     background-color: white;
   }
   
   input:focus + .slider {
     box-shadow: 0 0 3px #00ffff;
   }
   
   input:checked + .slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
   }
   
   /* Rounded sliders */
   .slider.round {
     border-radius: 34px;
     
     
   }
   .slider.round:checked{
     background-color: black;
   }
   
   .slider.round:before {
     border-radius: 50%;
     background-color: #00ffff;
   }
   .logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 70%;
    /* background-color: aqua; */
    margin: auto;
    position: relative;
   }
   .logo-container::before{
    position: absolute;
    content:"<SheCode/>";
    top:78%;
    left: 28%;
    font-size: 1.8em;
    font-weight: 700;
    color:#00ffff;
    
    
   }

   @media screen and (max-width: 475px) {
    .logo-container{
      /* background-color: blue; */
      width: auto;
      height: auto;
    }
    .logo-container::before{
      top:78%;
      left: 30%;
    }

  }
   
  